Edge-Computing/script node-red/GS2-EDGE.json
[
    {
        "id": "0e4bcb8aa47eb404",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c66a1f9e6c33b9dc",
        "type": "mqtt in",
        "z": "0e4bcb8aa47eb404",
        "name": "",
        "topic": "/GS2/ph3",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9a94030c2f8eae4b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 280,
        "wires": [
            [
                "03dffd444044648d",
                "61eb5846337e35b4"
            ]
        ]
    },
    {
        "id": "f110a62d34417f49",
        "type": "mqtt in",
        "z": "0e4bcb8aa47eb404",
        "name": "",
        "topic": "/GS2/oxy3",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9a94030c2f8eae4b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 360,
        "wires": [
            [
                "9d3ecdc9a48152bc",
                "869e6bac740d7b5e"
            ]
        ]
    },
    {
        "id": "03dffd444044648d",
        "type": "ui_gauge",
        "z": "0e4bcb8aa47eb404",
        "name": "",
        "group": "987eec913a6f9f2e",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Ph",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 240,
        "wires": []
    },
    {
        "id": "869e6bac740d7b5e",
        "type": "ui_gauge",
        "z": "0e4bcb8aa47eb404",
        "name": "",
        "group": "987eec913a6f9f2e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Oxy",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 320,
        "wires": []
    },
    {
        "id": "d545c5e235450d27",
        "type": "mqtt in",
        "z": "0e4bcb8aa47eb404",
        "name": "",
        "topic": "/GS2/temp3",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9a94030c2f8eae4b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 440,
        "wires": [
            [
                "79ffcaadfaa79839",
                "88324db71cdd66bd"
            ]
        ]
    },
    {
        "id": "88324db71cdd66bd",
        "type": "ui_gauge",
        "z": "0e4bcb8aa47eb404",
        "name": "",
        "group": "987eec913a6f9f2e",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temp",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 400,
        "wires": []
    },
    {
        "id": "c1ca0543f0344f89",
        "type": "mqtt out",
        "z": "0e4bcb8aa47eb404",
        "name": "",
        "topic": "tago/data/post",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bcd2ed813de53395",
        "x": 700,
        "y": 360,
        "wires": []
    },
    {
        "id": "61eb5846337e35b4",
        "type": "function",
        "z": "0e4bcb8aa47eb404",
        "name": "function 1",
        "func": "var ph3 = {\n    payload: {\n        \"variable\": \"ph3\",\n        \"unit\": \"ph\",\n        \"value\": msg.payload\n    }\n}\nreturn ph3;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 280,
        "wires": [
            [
                "c1ca0543f0344f89"
            ]
        ]
    },
    {
        "id": "9d3ecdc9a48152bc",
        "type": "function",
        "z": "0e4bcb8aa47eb404",
        "name": "function 2",
        "func": "var oxy3 = {\n    payload: {\n        \"variable\": \"oxygen3\",\n        \"unit\": \"%\",\n        \"value\": msg.payload\n    }\n}\nreturn oxy3;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 360,
        "wires": [
            [
                "c1ca0543f0344f89"
            ]
        ]
    },
    {
        "id": "79ffcaadfaa79839",
        "type": "function",
        "z": "0e4bcb8aa47eb404",
        "name": "function 3",
        "func": "var temp3 = {\n    payload: {\n        \"variable\": \"temperature3\",\n        \"unit\": \"℃\",\n        \"value\": msg.payload\n    }\n}\nreturn temp3;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 440,
        "wires": [
            [
                "c1ca0543f0344f89"
            ]
        ]
    },
    {
        "id": "1aa818ce2abe75a9",
        "type": "mqtt out",
        "z": "0e4bcb8aa47eb404",
        "name": "",
        "topic": "tago/data/post",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bcd2ed813de53395",
        "x": 700,
        "y": 200,
        "wires": []
    },
    {
        "id": "7ecc8d9a9080fbac",
        "type": "function",
        "z": "0e4bcb8aa47eb404",
        "name": "function 4",
        "func": "var loc3 = {\n    payload: {\n    \"variable\": \"location3\",\n    \"value\": \"Sensor 3\",\n    \"location\": {\n        \"lat\": -33.378913,\n        \"lng\": -14.254826\n    }\n}\n}\nreturn loc3;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 160,
        "wires": [
            [
                "1aa818ce2abe75a9",
                "18bd74ed17a75463"
            ]
        ]
    },
    {
        "id": "d9ca13666a74eaf9",
        "type": "inject",
        "z": "0e4bcb8aa47eb404",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 160,
        "wires": [
            [
                "7ecc8d9a9080fbac"
            ]
        ]
    },
    {
        "id": "18bd74ed17a75463",
        "type": "debug",
        "z": "0e4bcb8aa47eb404",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 100,
        "wires": []
    },
    {
        "id": "9da62126b951883a",
        "type": "mqtt in",
        "z": "0e4bcb8aa47eb404",
        "name": "",
        "topic": "/GS2/ph2",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9a94030c2f8eae4b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 940,
        "y": 280,
        "wires": [
            [
                "af2523845490510a",
                "1ddc35227f4db877"
            ]
        ]
    },
    {
        "id": "adf362fcb12d0d96",
        "type": "mqtt in",
        "z": "0e4bcb8aa47eb404",
        "name": "",
        "topic": "/GS2/oxy2",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9a94030c2f8eae4b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 940,
        "y": 360,
        "wires": [
            [
                "25bcccbe1d65b695",
                "ca43fb4c0593f135"
            ]
        ]
    },
    {
        "id": "af2523845490510a",
        "type": "ui_gauge",
        "z": "0e4bcb8aa47eb404",
        "name": "",
        "group": "987eec913a6f9f2e",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Ph",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1090,
        "y": 240,
        "wires": []
    },
    {
        "id": "ca43fb4c0593f135",
        "type": "ui_gauge",
        "z": "0e4bcb8aa47eb404",
        "name": "",
        "group": "987eec913a6f9f2e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Oxy",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1090,
        "y": 320,
        "wires": []
    },
    {
        "id": "71f054a1287e7e89",
        "type": "mqtt in",
        "z": "0e4bcb8aa47eb404",
        "name": "",
        "topic": "/GS2/temp2",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9a94030c2f8eae4b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 950,
        "y": 440,
        "wires": [
            [
                "ac81374889630d49",
                "c7069f667c1ca3ac"
            ]
        ]
    },
    {
        "id": "c7069f667c1ca3ac",
        "type": "ui_gauge",
        "z": "0e4bcb8aa47eb404",
        "name": "",
        "group": "987eec913a6f9f2e",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temp",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1090,
        "y": 400,
        "wires": []
    },
    {
        "id": "0615b8cf4b36102c",
        "type": "mqtt out",
        "z": "0e4bcb8aa47eb404",
        "name": "",
        "topic": "tago/data/post",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bcd2ed813de53395",
        "x": 1320,
        "y": 360,
        "wires": []
    },
    {
        "id": "1ddc35227f4db877",
        "type": "function",
        "z": "0e4bcb8aa47eb404",
        "name": "function 5",
        "func": "var ph2 = {\n    payload: {\n        \"variable\": \"ph2\",\n        \"unit\": \"ph\",\n        \"value\": msg.payload\n    }\n}\nreturn ph2;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 280,
        "wires": [
            [
                "0615b8cf4b36102c"
            ]
        ]
    },
    {
        "id": "25bcccbe1d65b695",
        "type": "function",
        "z": "0e4bcb8aa47eb404",
        "name": "function 6",
        "func": "var oxy2 = {\n    payload: {\n        \"variable\": \"oxygen2\",\n        \"unit\": \"%\",\n        \"value\": msg.payload\n    }\n}\nreturn oxy2;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 360,
        "wires": [
            [
                "0615b8cf4b36102c"
            ]
        ]
    },
    {
        "id": "ac81374889630d49",
        "type": "function",
        "z": "0e4bcb8aa47eb404",
        "name": "function 7",
        "func": "var temp2 = {\n    payload: {\n        \"variable\": \"temperature2\",\n        \"unit\": \"℃\",\n        \"value\": msg.payload\n    }\n}\nreturn temp2;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 440,
        "wires": [
            [
                "0615b8cf4b36102c"
            ]
        ]
    },
    {
        "id": "9b506577e0843f29",
        "type": "mqtt out",
        "z": "0e4bcb8aa47eb404",
        "name": "",
        "topic": "tago/data/post",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bcd2ed813de53395",
        "x": 1320,
        "y": 200,
        "wires": []
    },
    {
        "id": "20525cfab5ad5caf",
        "type": "function",
        "z": "0e4bcb8aa47eb404",
        "name": "function 8",
        "func": "var loc2 = {\n    payload: {\n    \"variable\": \"location2\",\n    \"value\": \"Sensor 2\",\n    \"location\": {\n        \"lat\": 13.723890,\n        \"lng\": 87.435911\n    }\n}\n}\nreturn loc2;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 160,
        "wires": [
            [
                "9b506577e0843f29",
                "82485d33a37873a4"
            ]
        ]
    },
    {
        "id": "82f2fbf1db6f7855",
        "type": "inject",
        "z": "0e4bcb8aa47eb404",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 940,
        "y": 160,
        "wires": [
            [
                "20525cfab5ad5caf"
            ]
        ]
    },
    {
        "id": "82485d33a37873a4",
        "type": "debug",
        "z": "0e4bcb8aa47eb404",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 100,
        "wires": []
    },
    {
        "id": "93be9185b2734a41",
        "type": "mqtt in",
        "z": "0e4bcb8aa47eb404",
        "name": "",
        "topic": "/GS2/ph1",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9a94030c2f8eae4b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 660,
        "y": 760,
        "wires": [
            [
                "608e52a2b358b152",
                "97f870a9163da894"
            ]
        ]
    },
    {
        "id": "aa8206e1edececd7",
        "type": "mqtt in",
        "z": "0e4bcb8aa47eb404",
        "name": "",
        "topic": "/GS2/oxy1",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9a94030c2f8eae4b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 660,
        "y": 840,
        "wires": [
            [
                "7796d394c02d048d",
                "10af253167f81c18"
            ]
        ]
    },
    {
        "id": "608e52a2b358b152",
        "type": "ui_gauge",
        "z": "0e4bcb8aa47eb404",
        "name": "",
        "group": "987eec913a6f9f2e",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Ph",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 720,
        "wires": []
    },
    {
        "id": "10af253167f81c18",
        "type": "ui_gauge",
        "z": "0e4bcb8aa47eb404",
        "name": "",
        "group": "987eec913a6f9f2e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Oxy",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 800,
        "wires": []
    },
    {
        "id": "75da93e697bcfa15",
        "type": "mqtt in",
        "z": "0e4bcb8aa47eb404",
        "name": "",
        "topic": "/GS2/temp1",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9a94030c2f8eae4b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 670,
        "y": 920,
        "wires": [
            [
                "a8b60634bd9b8a18",
                "e2b86c7e02ac2efd"
            ]
        ]
    },
    {
        "id": "e2b86c7e02ac2efd",
        "type": "ui_gauge",
        "z": "0e4bcb8aa47eb404",
        "name": "",
        "group": "987eec913a6f9f2e",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temp",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 880,
        "wires": []
    },
    {
        "id": "101871329e65f295",
        "type": "mqtt out",
        "z": "0e4bcb8aa47eb404",
        "name": "",
        "topic": "tago/data/post",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bcd2ed813de53395",
        "x": 1040,
        "y": 840,
        "wires": []
    },
    {
        "id": "97f870a9163da894",
        "type": "function",
        "z": "0e4bcb8aa47eb404",
        "name": "function 9",
        "func": "var ph1 = {\n    payload: {\n        \"variable\": \"ph1\",\n        \"unit\": \"ph\",\n        \"value\": msg.payload\n    }\n}\nreturn ph1;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 760,
        "wires": [
            [
                "101871329e65f295"
            ]
        ]
    },
    {
        "id": "7796d394c02d048d",
        "type": "function",
        "z": "0e4bcb8aa47eb404",
        "name": "function 10",
        "func": "var oxy1 = {\n    payload: {\n        \"variable\": \"oxygen1\",\n        \"unit\": \"%\",\n        \"value\": msg.payload\n    }\n}\nreturn oxy1;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 840,
        "wires": [
            [
                "101871329e65f295"
            ]
        ]
    },
    {
        "id": "a8b60634bd9b8a18",
        "type": "function",
        "z": "0e4bcb8aa47eb404",
        "name": "function 11",
        "func": "var temp1 = {\n    payload: {\n        \"variable\": \"temperature1\",\n        \"unit\": \"℃\",\n        \"value\": msg.payload\n    }\n}\nreturn temp1;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 920,
        "wires": [
            [
                "101871329e65f295"
            ]
        ]
    },
    {
        "id": "2110ea2b8edfbb2c",
        "type": "mqtt out",
        "z": "0e4bcb8aa47eb404",
        "name": "",
        "topic": "tago/data/post",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bcd2ed813de53395",
        "x": 1040,
        "y": 680,
        "wires": []
    },
    {
        "id": "81403d9e460d3bfd",
        "type": "function",
        "z": "0e4bcb8aa47eb404",
        "name": "function 12",
        "func": "var loc1 = {\n    payload: {\n    \"variable\": \"location1\",\n    \"value\": \"Sensor 1\",\n    \"location\": {\n        \"lat\": 45.268867,\n        \"lng\": -3.916129\n    }\n}\n}\nreturn loc1;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 640,
        "wires": [
            [
                "2110ea2b8edfbb2c",
                "8363c204e4f51bfa"
            ]
        ]
    },
    {
        "id": "c2b31f5ea59550f7",
        "type": "inject",
        "z": "0e4bcb8aa47eb404",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 660,
        "y": 640,
        "wires": [
            [
                "81403d9e460d3bfd"
            ]
        ]
    },
    {
        "id": "8363c204e4f51bfa",
        "type": "debug",
        "z": "0e4bcb8aa47eb404",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 580,
        "wires": []
    },
    {
        "id": "9a94030c2f8eae4b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "987eec913a6f9f2e",
        "type": "ui_group",
        "name": "Default",
        "tab": "fb62fe1ed5819f96",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bcd2ed813de53395",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.tago.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fb62fe1ed5819f96",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]